option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: rmg-east.cdxi2trrcudp.us-east-1.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: rmg

config_options:
   - namespace: aws:elasticbeanstalk:container:php:phpini
     option_name: composer_options
     value: "--prefer-source"