container_commands:
   01installnode:
         command: "yum install nodejs npm --enablerepo=epel -y"
   02installgulp:
         command: "npm install --global gulp"
   03clearcache:
         command: "npm cache clean"
   04installelixr:
         command: "npm install"
   05rungulp:
         command: "gulp --production"