packages:
    yum:
        mod24_ssl : []
        epel-release: []

container_commands:
    00_createdir:
        command: "sudo mkdir /opt/certbot || true"
    10_installcertbot:
        command: "sudo wget -O /opt/certbot/certbot-auto https://dl.eff.org/certbot-auto ;sudo chmod a+x /opt/certbot/certbot-auto"
    15_create_swap:
        command: "sudo fallocate -l 1G /tmp/swapfile; sudo chmod 600 /tmp/swapfile; sudo mkswap /tmp/swapfile; sudo swapon /tmp/swapfile"
    20_getcert:
        command: "sudo /opt/certbot/certbot-auto --debug --non-interactive --apache --email ${CERT_EMAIL} --agree-tos --domains ${CERT_DOMAIN} --keep-until-expiring --apache-vhost-root /etc/httpd/conf.d/ssl.conf"
    90_cronjob_renew:
        command: "echo -e \"30 2,14 * * * root /opt/certbot/certbot-auto renew --no-self-upgrade\n\" > /etc/cron.d/certificate_renew && chmod 644 /etc/cron.d/certificate_renew"
    95_cleanup_swapfile:
        command: "sudo swapoff /tmp/swapfile; sudo rm /tmp/swapfile"