packages:
    yum:
        certbot : []
        python3-certbot-nginx : []
        jq : []

files:
  /opt/setup-ssl.sh:
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -x

      #get eb config variables and add as env vars
      for s in $(/opt/elasticbeanstalk/bin/get-config environment | jq -r "to_entries|map(\"\(.key)=\(.value|tostring)\")|.[]" ); do
          export $s
      done

      echo "============ START SETUP SSL ============";

      if $SHOULD_GENERATE_CERT; then
        echo "Generating new cert"
        certbot --nginx -d rmg-env-cloned-2.famar38uup.us-east-1.elasticbeanstalk.com -d www.rmg-env-cloned-2.famar38uup.us-east-1.elasticbeanstalk.com --non-interactive --agree-tos -m ${CERT_EMAIL}
        cat /etc/nginx/nginx.conf
      else
        echo "Generating new cert disabled";
      fi

      if $SHOULD_CRON_REFRESH_CERT; then
        echo "Creating cron to refresh cert"
        systemctl status certbot-renew.timer
        systemctl start certbot-renew.timer
        systemctl status certbot-renew.timer
      else
        echo "Refresh cert cron is disabled"
      fi
      echo "============ END SETUP SSL ============";

container_commands:
    00_run_setup_ssl:
        command: "sudo /opt/setup-ssl.sh"
