packages:
    yum:
        mod24_ssl : []
        epel-release: []

container_commands:
    00_createdir:
        command: "sudo mkdir /opt/certbot || true"
    10_installcertbot:
        command: "sudo wget -O /opt/certbot/certbot-auto https://dl.eff.org/certbot-auto ;sudo chmod a+x /opt/certbot/certbot-auto"
    15_add_server_name_and_alias:
        command: 'sudo sed /etc/httpd/conf.d/ssl.conf -e "s;</VirtualHost>;ServerName ${SERVER_DOMAIN}\nServerAlias ${SERVER_ALIAS}\n</VirtualHost>;" -i'
    20_getcert:
        command: "sudo /opt/certbot/certbot-auto --debug --non-interactive --apache --email ${CERT_EMAIL} --agree-tos --domains ${SERVER_DOMAIN},${SERVER_ALIAS} --keep-until-expiring --apache-vhost-root /etc/httpd/conf.d/ssl.conf ${CERT_BOT_ADDITIONAL_FLAGS}"
    90_cronjob_renew:
        command: "echo -e \"30 2,14 * * * root /opt/certbot/certbot-auto renew --no-self-upgrade\n\" > /etc/cron.d/certificate_renew && chmod 644 /etc/cron.d/certificate_renew"