packages:
    yum:
        mod24_ssl : []
        epel-release: []

container_commands:
    00_createdir:
        command: "sudo mkdir /opt/certbot || true"
    10_installcertbot:
        command: "sudo wget -O /opt/certbot/certbot-auto https://dl.eff.org/certbot-auto ;sudo chmod a+x /opt/certbot/certbot-auto"