@font-face {
  font-family: 'my-icons';
  src: url('../font/my-icons.eot?39771230');
  src: url('../font/my-icons.eot?39771230#iefix') format('embedded-opentype'),
       url('../font/my-icons.woff?39771230') format('woff'),
       url('../font/my-icons.ttf?39771230') format('truetype'),
       url('../font/my-icons.svg?39771230#my-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'my-icons';
    src: url('../font/my-icons.svg?39771230#my-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "my-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-windows:before { content: '\e800'; } /* '' */
.icon-apple:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-android:before { content: '\e803'; } /* '' */
.icon-iphone-home:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-twitch:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-appstore:before { content: '\e80c'; } /* '' */
.icon-steam:before { content: '\e80d'; } /* '' */
.icon-greenlight:before { content: '\e80e'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */
.icon-unity:before { content: '\e810'; } /* '' */
.icon-link-ext-alt:before { content: '\e811'; } /* '' */
.icon-logout:before { content: '\e812'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e813'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-menu:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e819'; } /* '' */
.icon-emo-happy:before { content: '\e81a'; } /* '' */
.icon-emo-displeased:before { content: '\e81b'; } /* '' */
.icon-down-dir:before { content: '\e81c'; } /* '' */
.icon-info-circled:before { content: '\e81d'; } /* '' */
.icon-exchange:before { content: '\e81e'; } /* '' */
.icon-arrows-cw:before { content: '\e81f'; } /* '' */
.icon-comment-empty:before { content: '\e820'; } /* '' */
.icon-gamepad:before { content: '\e821'; } /* '' */
.icon-right-circled:before { content: '\e822'; } /* '' */
.icon-clock:before { content: '\e823'; } /* '' */
.icon-award:before { content: '\e824'; } /* '' */