.banner-background-overlay {
  padding: 0px 10px;
  background: url('/images/background-3.jpg') no-repeat;
  background-position-y: top;
  background-position-x: right;

  background-attachment: fixed;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.home-h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  padding-top: 80px;

  font-size: 40px;
  @media (min-width: @screen-sm-min) {
    font-size: 50px;
  }

  @media (min-width: @screen-md-min) {
    font-size: 60px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 70px;
  }
}

.left-bracket {
  letter-spacing: 6px;

  @media (min-width: @screen-sm-min) {
    letter-spacing: 8px;
  }

  @media (min-width: @screen-md-min) {
    letter-spacing: 10px;
  }

  @media (min-width: @screen-lg-min) {
    letter-spacing: 12px;
  }
}

.home-h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;

  font-size: 15px;
  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }

  @media (min-width: @screen-md-min) {
    font-size: 20px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 25px;
  }
}

.white-background-box {
  margin: 5px 0;
  background-color: #fff;
  padding: 10px;
}

.card-title {
  text-transform: capitalize;
  color: @dark-font-color;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title:hover{
  text-decoration: underline;
}

.card-date {
  color: #CDCBCB;
  margin-bottom: 0;
  line-height: 1;
}

.card-description {
  margin-top: 10px;
  color: #666666;
  line-height: 1.5em;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}

.card-image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper-link {
  display:block;
}

.card-wrapper-link:hover {
  text-decoration: none;
}

.card-wrapper-link:focus {
  text-decoration: none;
}